@media (max-width: 768px) {
    .side-image {
        width: 80px;
    }
    
    .content,
    .extra-content {
        padding: 25px 20px;
        margin: 30px auto;
        max-width: 95%;
    }
    
    .content-background {
        height: 400px;
        margin: 30px 0;
    }
    
    .cuento h1 {
        font-size: 2rem;
    }
    
    .texto-cuento p {
        font-size: 1.1rem;
        text-indent: 1.5em;
    }
}